body {
  font-size:x-large;
}

h1 {
  font-size:xx-large;
  font-weight:bold;
  margin:1em;
  text-align:center;
}

div {
  text-align:center;
}

input,select,textarea {
  font-size:x-large;
}

table {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

iframe {
  transform-origin:top left;
  transform:scale(1);
}

th {
  font-weight:bold;
}

th,td {
  padding:0.25em;
}